

<h2>Como donar</h2>
<p>
  comodonar works!
</p>

<div>
   <h4>DONATIVOS EN ESPECIE</h4> 
    fomenta alianzas con compañias que, mediante donativos en especie, permiten beneficiar a instituciones aliadas o programas de impacto comunitario con enfoque en nuestros pilares de acción: educación, salud y generación de ingresos. 
    
    Entre los donativos se encuentran artículos de primera necesidad e higiene personal, artículos de papelería, utensilios de limpieza, equipo médico como material de curación, estetoscopios, productos de higiene y salud, equipo de cómputo y tabletas, juguetes para ludotecas y equipamiento escolar.
     
    En 2016, gracias a estas aportaciones, logramos apoyar a 68,757 personas. 

</div>

<div>
    <h4>DONATIVOS EN EFECTIVO</h4> 

    Los principales bancos del país abrieron cuentas para que los mexicanos donen en efectivo para ayudar a los damnificados del sismo de la semana pasada.

    A través de Banco Inbursa con la Cuenta: 11111111111 y la Cuenta CLABE: 036180111111111111 a nombre de la Fundación Carlos Slim se pueden realizar donativos en efectivo.
</div>

